body {
  background: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 1.7rem;
}
.main-title {
  text-decoration: underline;
}
#section-1 {
  width: 80%;
  height: 45%;
  margin: 0 auto;
}
#number {
  display: block;
  height: 30px;
  width: 95%;
  max-width: 500px;
  margin: 0 auto;
}
#convert-btn {
  margin: 5px auto 0;
  width: 50%;
  max-width: 300px;
}
#output {
  display: none;
  border: double 2px white;
  height: 35%;
  width: 75%;
  text-align: center;
  font-size: 3rem;
  margin: 5px auto 0;
}
#rules {
  font-size: 1.3rem;
}
#rules-table {
  border: solid 1px white;
  margin: 0 auto;
  font-size: 1.3rem
}
td, th {
  border: solid 1px white;
}
